*{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #f3e7bf;
}

/* PARTE DO HEADER*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #22140c;
    color: #d4c38e;
}

header h2{
    padding: 1.5% 0% 1.5% 6%;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    cursor: pointer;
    font-size: 30px;
    font-family: "Battambang", system-ui;
    font-weight: 900;
    font-style: normal;   
}

header h2:hover{
    font-size: 32px;
}

.opcoesHeader{
    /* background-color: aqua; */
    width: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 5%;
}

.opcoesHeader a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    transition: all 0.5s ease;
}

.opcoesHeader a:hover{
    font-size: 18px;
    color: #d4c38e;
}


/* PARTE DA APRESENTAÇÃO DA TELA INICIAL */
.ApresentacaoHome{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #22140c;
}

.ApresentacaoHome h1 {
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    
}

.ApresentacaoHome .textoAprensentacao{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    text-align: left;
    color: #d4c38e;
    gap: 1%;
    line-height: 1.5;

}
.ApresentacaoHome .textoAprensentacao p{
    color: #ffffff;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}


.ApresentacaoHome img{
    width: 100vh;
    display: flex;
}

.ApresentacaoHome a{
    color:#22140c;
    text-decoration: none;
    background-color: #d4c38e;
    width: 16%;
    padding: 1%;
    display: flex;
    justify-content: center;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 2%;
    border: 1px solid #d4c38e;
    transition: all 1s ease;
}

.ApresentacaoHome a:hover{
    border: 1px solid #d4c38e;
    background-color: #22140c;
    color: #d4c38e;
}


/* PARTE DA OFERTAS SEMANAIS */
.OfertasSemana #titulo{
    padding-top: 4%;
    padding-left: 0%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #2E1A0F;
    font-weight: 800;
}

.Pasteis{
    margin-top: 2.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.Pasteis .PastelSegunda, .PastelTerca, .PastelQuarta, .PastelQuinta, .PastelFind{
    border: 1px solid #2E1A0F;
    width: 250px;
    padding: 2%;
    margin-bottom: 15px;
    background-color: #2E1A0F;
    border-radius: 8px;
    color:  #ffffff;
    cursor: pointer;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
    position: relative;
}

.Pasteis .PastelSegunda:hover, .Pasteis .PastelTerca:hover, .Pasteis .PastelQuarta:hover, .Pasteis .PastelQuinta:hover, .Pasteis .PastelFind:hover   {
    transform: scale(1.03);
}

.Pasteis h2{
    color: #d4c38e;
    padding-bottom: 1.5%;
    border-radius: 5px;
}

.Pasteis ul{
    margin-top: 0.7%;
    list-style-type: none;
    padding-left: 6%;
    font-size: 14px;
}

.Pasteis h2{
    display: flex;
    justify-content: center;
}

.Pasteis .Salgados{
    margin-top: 2%;
    color: #d4c38e;
}

.miniBorda{
    border: 1px solid #d4c38e;
    inset: 5%; 
    pointer-events: none; 
    border-radius: 5px; 
    position: absolute;
}

.Pasteis .Salgados p{
    font-weight: 600;
    color: #d4c38e;
}

.Pasteis .Doces{
    margin-top: 2%;
    color: #d4c38e;
}

.Pasteis .Doces p{
    font-weight: 600;
    color: #d4c38e;
}


/* LINHA */
.linhaMaior{
    display: flex;
    width: 100%;
    justify-content: center;
}
.linha{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    height: 2px;
    background-color: #2E1A0F;
    width: 50vw;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
}


/* PARTE DA MAIS SERVIÇOS */
.MaisServicos #titulo{
    padding-top: 3%;
    padding-left: 0%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #2E1A0F;
    font-weight: 800;
}

.Servicos{
    margin-top: 3%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.Servicos .Cardapio, .Sobre, .Contato, .Reservas {
    width: 300px;
    padding: 1%;
    margin-bottom: 15px;
    background-color: #22140c;
    border-radius: 5px;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
}

.Servicos img{
    width: 100%;
    padding: 0;
}

.Servicos h2{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.Servicos .vermais a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #22140c;
    font-weight: 600;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #d4c38e;
    border: 1px solid #d4c38e;
    margin-top: 4%;
    border-radius: 5px;
    transition: all 1s ease;
}

.Servicos .vermais a:hover{
    background-color: #22140c;
    color: #d4c38e;
    border: 1px solid #d4c38e;
}


/* PARTE DO FOOTER */

footer{
    margin-top: 100px;
}

.ConteudoFooter{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    display: flex;
    justify-content: space-between;
    background-color: #22140c;
    color: white;
}

.Conteudo{
    width: 1300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.Conteudo .Navegar, .RedesSociais, .Localizacao, .Direitos{
    padding-left: 2%;
    padding-right: 2%;
    color: white;
}

.ConteudoFooter .textFooter{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d4c38e;
}

.ConteudoFooter .textFooter h1{
    font-family: "Battambang", system-ui;
    font-weight: 600;
    font-style: normal;
}

.Conteudo ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    transition: all 0.5s ease;
}

.Conteudo ul li a:hover{
    font-size: 15px;
    color: #d4c38e;
    font-weight: 300;
}

.Conteudo ul{
    list-style-type: none;
}

.Conteudo h3{
    color: #d4c38e;
    font-size: 16px;
    padding-bottom: 1%;
}


/* 

    USAR O SPAN PARA ADICIONAR VALORES NA PARTE DE OFERTAS SEMANAIS

*/


/* CARDÁPIO  */

.apresentacaoCardapio{
    padding-top: 1%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #22140c;
    color: #d4c38e;
}

.apresentacaoCardapio h1{
    font-size: 60px;
}
.apresentacaoCardapio p{
    font-size: 15px;
}

.botoesOpcoes #titulo{
    padding-top: 3%;
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #2E1A0F;
    font-weight: 800;
}

.opcoes{
    margin-top: 3%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-left: 10px;
}

.opcoes .Salgados, .opcoes .Doces, .opcoes .Bebidas{
    border: 1px solid #22140c;
    padding: 1%;
    border-radius: 10px;
    background-color: #22140c;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.botao{
    display: flex;
    justify-content: center;
}

.opcoes .botao a{
    color: #22140c;
    text-decoration: none;
    background-color: #d4c38e;
    border: 1px solid #d4c38e ;
    width: 100%;
    font-size: 18px;
    display: flex;
    font-weight: 600;
    justify-content: center;
    padding: 1%;
    margin-top: 7%;
    border-radius: 5px;
    transition: all 1s ease;
}

.botao a:hover{
    color: #d4c38e;
    background-color: #22140c;
    border: 1px solid #d4c38e ;
}

.botoesOpcoes img{
    width: 450px;
    padding: 0;
}

.SaboresCardapio{
    margin-top: 3%;
}

/* SALGADOS */
.SaboresSalgados h2{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #24150d;
}

.SaboresSalgados .salg{
    display: flex; 
    flex-flow: row wrap;
    gap: 1%;
    row-gap: 1%;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.SaboresSalgados .salg .pastel{
    background-color: #22140c;
    color: #d4c38e;
    padding: 1%;
    margin-bottom: 3%;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-flow: column wrap;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
}


/* DOCES */
.SaboresDoces h2{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #24150d;
    margin-top: 3%;
}

.SaboresDoces .doc{
    display: flex; 
    flex-flow: row wrap;
    gap: 1%;
    row-gap: 1%;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.SaboresDoces .doc .pastel{
    background-color: #22140c;
    color: #d4c38e;
    padding: 1%;
    margin-bottom: 3%;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-flow: column wrap;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
}