*{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #f3e7bf;
}

body::-webkit-scrollbar {
    width: 8px; /* largura da barra */
}

body::-webkit-scrollbar-track {
    background: #22140c; /* fundo da barra */
}

body::-webkit-scrollbar-thumb {
    background: #554135; /* cor da barrinha que arrasta */
}

body::-webkit-scrollbar-thumb:hover {
    background: #554135; /* cor quando passa o mouse */
}

/* PARTE DO HEADER*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #22140c;
    color: #d4c38e;
}

.logo {
    display: flex;
    align-items: center;
    padding: 1.5% 0% 1.5% 7%;
    transition: all 1s ease;
    cursor: pointer;
}

header h2{
    width: 340px;
    margin-right: 4%;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: "Battambang", system-ui;
    font-weight: 900;
    font-style: normal;   
}

.logo:hover{
    transform: scale(1.10);
    font-size: 32px;
}

.opcoesHeader{
    width: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 5%;
}

.opcoesHeader #abrirReserva {
    background-color: #f3e7bf;
    border: 1px solid #f3e7bf;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    color: #2E1A0F;
    transition: all 0.5s ease;
}

.opcoesHeader #abrirReserva:hover{
    background-color: #2E1A0F;
    color: #f3e7bf;
    border: 1px solid #f3e7bf;
}

.opcoesHeader a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    transition: all 0.5s ease;
}

.opcoesHeader a:hover{
    font-size: 18px;
    color: #d4c38e;
}


/* PARTE DA APRESENTAÇÃO DA TELA INICIAL */
.ApresentacaoHome{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #22140c;
}

.ApresentacaoHome h1 {
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    
}

.ApresentacaoHome .textoAprensentacao{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    text-align: left;
    color: #d4c38e;
    gap: 1%;
    line-height: 1.5;

}
.ApresentacaoHome .textoAprensentacao p{
    color: #ffffff;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}

.imagemPastelHome{
    width: 120vh;
    display: flex;
    overflow: hidden;
}
.ApresentacaoHome img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.ApresentacaoHome img:hover{
    transform: scale(1.1);
}

.ApresentacaoHome a{
    color:#22140c;
    text-decoration: none;
    background-color: #d4c38e;
    width: 16%;
    padding: 1%;
    display: flex;
    justify-content: center;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 3%;
    border: 1px solid #d4c38e;
    transition: all 1s ease;
}

.ApresentacaoHome a:hover{
    border: 1px solid #d4c38e;
    background-color: #22140c;
    color: #d4c38e;
}


/* PARTE DA OFERTAS SEMANAIS */
.OfertasSemana #titulo{
    padding-top: 4%;
    padding-left: 0%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #2E1A0F;
    font-weight: 800;
}

.tituloPrecoInicio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5%;
}

.tituloPrecoInicio p{
    font-size: 15px;
    text-decoration: underline;
    font-weight: 400;
}

.Pasteis{
    margin-top: 2.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.Pasteis .PastelSegunda, .PastelTerca, .PastelQuarta, .PastelQuinta, .PastelFind{
    border: 1px solid #2E1A0F;
    width: 250px;
    padding: 2%;
    margin-bottom: 15px;
    background-color: #2E1A0F;
    border-radius: 8px;
    color:  #ffffff;
    cursor: pointer;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
    position: relative;
}

.Pasteis .PastelSegunda:hover, .Pasteis .PastelTerca:hover, .Pasteis .PastelQuarta:hover, .Pasteis .PastelQuinta:hover, .Pasteis .PastelFind:hover   {
    transform: scale(1.03);
}

.Pasteis h2{
    color: #d4c38e;
    padding-bottom: 1.5%;
    border-radius: 5px;
}

.Pasteis ul{
    margin-top: 0.7%;
    list-style-type: none;
    padding-left: 6%;
    font-size: 14px;
}

.Pasteis h2{
    display: flex;
    justify-content: center;
}

.Pasteis .Salgados{
    margin-top: 2%;
    color: #d4c38e;
}

.miniBorda{
    border: 1px solid #d4c38e;
    inset: 5%; 
    pointer-events: none; 
    border-radius: 5px; 
    position: absolute;
}

.Pasteis .Salgados .tituloSalgadosCards, .Pasteis .Doces .tituloDocesCards{
    font-weight: 600;
    color: #d4c38e;
}

.Pasteis .Doces{
    margin-top: 2%;
    color: #d4c38e;
}



/* LINHA MAIOR */
.linhaMaior{
    display: flex;
    width: 100%;
    justify-content: center;
}

.linhaMaior .linha{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    height: 2px;
    background-color: #2E1A0F;
    width: 70vw;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
}


/* PARTE DA MAIS SERVIÇOS */
.MaisServicos #titulo{
    padding-top: 3%;
    padding-left: 0%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #2E1A0F;
    font-weight: 800;
}

.Servicos{
    margin-top: 3%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.Servicos .Cardapio, .Sobre, .Contato, .Reservas {
    width: 300px;
    padding: 1%;
    margin-bottom: 15px;
    background-color: #22140c;
    border-radius: 5px;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
}

.Servicos img{
    width: 100%;
    padding: 0;
}

.Servicos h2{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.Servicos .vermais a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #22140c;
    font-weight: 600;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #d4c38e;
    border: 1px solid #d4c38e;
    margin-top: 4%;
    border-radius: 5px;
    transition: all 1s ease;
}

.Servicos .vermais a:hover{
    background-color: #22140c;
    color: #d4c38e;
    border: 1px solid #d4c38e;
}


/* PARTE DO FOOTER */

footer{
    margin-top: 100px;
}

.ConteudoFooter{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    display: flex;
    justify-content: space-between;
    background-color: #22140c;
    color: white;
}

.Conteudo{
    width: 1300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.Conteudo .Navegar, .RedesSociais, .Localizacao, .Direitos{
    padding-left: 2%;
    padding-right: 2%;
    color: white;
}

.ConteudoFooter .textFooter{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d4c38e;
}

.ConteudoFooter .textFooter h1{
    font-family: "Battambang", system-ui;
    font-weight: 600;
    font-style: normal;
}

.Conteudo ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    transition: all 0.5s ease;
}

.Conteudo ul li a:hover{
    font-size: 15px;
    color: #d4c38e;
    font-weight: 300;
}

.Conteudo ul{
    list-style-type: none;
}

.Conteudo h3{
    color: #d4c38e;
    font-size: 16px;
    padding-bottom: 1%;
}


/* 

    USAR O SPAN PARA ADICIONAR VALORES NA PARTE DE OFERTAS SEMANAIS

*/


/* CARDÁPIO  */

.apresentacaoCardapio{
    padding-top: 1%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #22140c;
    color: #d4c38e;
}

.apresentacaoCardapio h1{
    font-size: 60px;
}
.apresentacaoCardapio p{
    font-size: 15px;
}

.botoesOpcoes {
    background-color: #22140c;
    padding-bottom: 2%;
}

.botoesOpcoes #titulo{
    padding-top: 3%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #d4c38e;
    font-weight: 800;
}

.opcoes{
    margin-top: 3%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-left: 10px;
}

.opcoes .Salgados, .opcoes .Doces, .opcoes .Bebidas{
    border: 1px solid #f3e7bf;
    padding: 1%;
    border-radius: 10px;
    background-color: #f3e7bf;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.botao{
    display: flex;
    justify-content: center;
}

.opcoes .botao a{
    color: #f3e7bf;
    text-decoration: none;
    background-color: #22140c;
    border: 1px solid #22140c ;
    width: 100%;
    font-size: 18px;
    display: flex;
    font-weight: 600;
    justify-content: center;
    padding: 1%;
    margin-top: 7%;
    border-radius: 5px;
    transition: all 1s ease;
}

.botao a:hover{
    color: #22140c;
    background-color: #f3e7bf;
    border: 1px solid #22140c ;
}

.botoesOpcoes .imagemopcao{
    width: 450px;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}

.botoesOpcoes .imagemopcao img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.botoesOpcoes .imagemopcao img:hover{
    transform: scale(1.1);
}


.SaboresCardapio{
    margin-top: 3%;
}

.tituloPreco{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5%;
}


.tituloPreco .precoSabor{
    font-weight: 600;
    font-size: 17px;
    text-decoration: underline;
}

/* SALGADOS */
.SaboresSalgados h2{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #24150d;
}

.SaboresSalgados .salg{
    display: flex; 
    flex-flow: row wrap;
    gap: 1%;
    row-gap: 1%;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.SaboresSalgados .salg .pastel{
    background-color: #22140c;
    color: #d4c38e;
    padding: 1%;
    margin-bottom: 3%;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-flow: column wrap;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.SaboresSalgados .salg .pastel:hover{
    transform: scale(1.03);
}


/* DOCES */
.SaboresDoces h2{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #f3e7bf;
    margin-top: 3%;
}
.SaboresDoces{
    background-color: #24150d;
    padding-top: 0.2%;
    padding-bottom: 0.5%;
    margin-top: 5%;
}
.SaboresDoces .doc{
    display: flex; 
    flex-flow: row wrap;
    gap: 1%;
    row-gap: 1%;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.SaboresDoces .doc .pastel{
    background-color: #f3e7bf;
    color: #24150d;
    padding: 1%;
    margin-bottom: 3%;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-flow: column wrap;
    box-shadow:  10px 10px 16px rgba(204, 188, 155, 0.199);
    cursor: pointer;
}

.SaboresDoces .doc .pastel:hover{
    transform: scale(1.03);
}

/* BEBIDAS */
.SaboresBebidas h2{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #24150d;
    margin-top: 2%;
}

.SaboresBebidas .bebi h2{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #24150d;
    margin-top: 1%;
}

.SaboresBebidas .bebidass{
    display: flex; 
    flex-flow: row wrap;
    gap: 1%;
    row-gap: 1%;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.SaboresBebidas .bebidass .bebida{
    background-color: #22140c;
    color: #d4c38e;
    padding: 1%;
    margin-bottom: 2%;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-flow: column wrap;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.SaboresBebidas .bebidass .bebida:hover{
    transform: scale(1.03);
}

/* LINHA MENOR */
.linhaMenor{
    display: flex;
    width: 100%;
    justify-content: center;
}
.linhaMenor .linha{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    height: 2px;
    background-color: #2E1A0F;
    width: 25vw;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
}

/* LINHA MENOR CLARA */
.linhaMenorClara{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #22140c;
}
.linhaMenorClara .linha{
    display: flex;
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 1%;
    height: 1px;
    background-color: #d4c38e;
    width: 65vw;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
}



/* FORMULÁRIO DE RESERVA */
.SideBarReserva{
    background-color:  #f3e7bf;
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #22140c;
    border-right: 2px solid #22140c;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
    color: #22140c;
}

.videoYTB{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    margin-bottom: 5%;
    flex-direction: column;
}

.videoYTB h3{
    margin-bottom: 3%;
    font-size: 22px;
}

.horarioFuncionamento h3{
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.horarioFuncionamento p{
    margin-top: 2%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-align: center;
}

.horarioFuncionamento .descricaoFunc{
    margin-left: 6%;
    margin-right: 6%;
}

.horarioFuncionamento{
    margin-bottom: 5%;
}

/* LINHA MENOR FORMULÁRIO */
.linhaMenorForms{
    display: flex;
    justify-content: center;
    width: 100%;
}
.linhaMenorForms .linha{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    height: 2px;
    margin-bottom: 5%;
    background-color: #2E1A0F;
    width: 70%;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
}

.formularioReserva h2{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.inputsForms{
    display: flex;
    justify-content: center;
}

.inputsForms input{
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1.5px solid #2E1A0F;
    border-radius: 3px;
    width: 240px;
    height: 20px;
    margin-bottom: 3%;
    background-color: #f3e7bf;
}

.inputsForms .nomeTelefone{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    gap: 10px;
}

.inputsForms .qntdPessoasEmail{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    gap: 10px;
}

.inputsForms .dataHora{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.inputsForms .dataHora .dataReserva{
    display: flex;
    flex-direction: column;
}

textarea .observacoes{
    border: 1px solid #2E1A0F;
    border-radius: 3px;
    background-color: #f3e7bf;
}

.observs{
    background-color: #f3e7bf;
}

#enviar{
    width: 100%;
    height: 40px;
    background-color: #2E1A0F;
    border: 1px solid #2E1A0F;
    color: #d4c38e;
    font-weight: 700;
    font-size: 18px;
    border-radius: 3px;
    margin-top: 2%;
    margin-bottom: 5%;
    transition: all 0.5s ease;
    cursor: pointer;
    font-size: "Poppins", sans-serif;
}

#enviar:hover{
    background-color: #f3e7bf;
    color: #2E1A0F;
}


.avisosImportantes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
    margin-top: 1%;
}

.avisosImportantes h4{
    font-size: 20px;
    margin-bottom: 1%;
}

.logoFormsAura {
    font-family: "Battambang", system-ui;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.SideBarReserva {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    width: 600px;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    z-index: 999;
  }
  
  .SideBarReserva.ativa {
    transform: translateX(0%);
  }

.SideBarReserva::-webkit-scrollbar {
    width: 8px; /* largura da barra */
}

.SideBarReserva::-webkit-scrollbar-track {
    background: #22140c; /* fundo da barra */
}

.SideBarReserva::-webkit-scrollbar-thumb {
    background: #554135; /* cor da barrinha que arrasta */
}

.SideBarReserva::-webkit-scrollbar-thumb:hover {
    background: #554135; /* cor quando passa o mouse */
}