*{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #f3e7bf;
}

body::-webkit-scrollbar {
    width: 8px; /* largura da barra */
}

body::-webkit-scrollbar-track {
    background: #22140c; /* fundo da barra */
}

body::-webkit-scrollbar-thumb {
    background: #554135; /* cor da barrinha que arrasta */
}

body::-webkit-scrollbar-thumb:hover {
    background: #554135; /* cor quando passa o mouse */
}

/* PARTE DO HEADER*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #22140c;
    color: #d4c38e;
}

.logo {
    display: flex;
    align-items: center;
    padding: 1.5% 0% 1.5% 7%;
    transition: all 1s ease;
}

header h2{
    width: 340px;
    margin-right: 4%;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: "Battambang", system-ui;
    font-weight: 900;
    font-style: normal;   
}

.logo:hover{
    transform: scale(1.10);
    font-size: 32px;
}

.opcoesHeader{
    width: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 5%;
}

.opcoesHeader #abrirReserva {
    background-color: #f3e7bf;
    border: 1px solid #f3e7bf;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    color: #2E1A0F;
    transition: all 0.5s ease;
}

.opcoesHeader #abrirReserva:hover{
    background-color: #2E1A0F;
    color: #f3e7bf;
    border: 1px solid #f3e7bf;
}

.opcoesHeader a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    transition: all 0.5s ease;
}

.opcoesHeader a:hover{
    font-size: 18px;
    color: #d4c38e;
}


.opcoesHeader:hover > a:not(:hover){
    opacity: 0.8;
}

/* PARTE DA APRESENTAÇÃO DA TELA INICIAL */
.ApresentacaoHome{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #22140c;
}

.ApresentacaoHome h1 {
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    
}

.ApresentacaoHome .textoAprensentacao{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    text-align: left;
    color: #f3e7bf;
    gap: 1%;
    line-height: 1.5;

}
.ApresentacaoHome .textoAprensentacao p{
    color: #ffffff;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}

.imagemPastelHome{
    width: 120vh;
    display: flex;
    overflow: hidden;
}
.ApresentacaoHome img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.ApresentacaoHome img:hover{
    transform: scale(1.1);
}

.ApresentacaoHome a{
    color:#22140c;
    text-decoration: none;
    background-color: #d4c38e;
    width: 16%;
    padding: 1%;
    display: flex;
    justify-content: center;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 3%;
    border: 1px solid #d4c38e;
    transition: all 1s ease;
}

.ApresentacaoHome a:hover{
    border: 1px solid #d4c38e;
    background-color: #22140c;
    color: #d4c38e;
}


/* PARTE DA OFERTAS SEMANAIS */
.OfertasSemana #titulo{
    padding-top: 4%;
    padding-left: 0%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #2E1A0F;
    font-weight: 800;
}

.tituloPrecoInicio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5%;
}

.tituloPrecoInicio p{
    font-size: 15px;
    text-decoration: underline;
    font-weight: 400;
}

.Pasteis{
    margin-top: 2.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.Pasteis .PastelSegunda, .PastelTerca, .PastelQuarta, .PastelQuinta, .PastelFind{
    border: 1px solid #2E1A0F;
    width: 250px;
    padding: 2%;
    margin-bottom: 15px;
    background-color: #2E1A0F;
    border-radius: 8px;
    color:  #ffffff;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
    position: relative;
}

.Pasteis .PastelSegunda:hover, .Pasteis .PastelTerca:hover, .Pasteis .PastelQuarta:hover, .Pasteis .PastelQuinta:hover, .Pasteis .PastelFind:hover   {
    transform: scale(1.03);
}

.Pasteis:hover > .PastelSegunda:not(:hover),.Pasteis:hover > .PastelTerca:not(:hover),.Pasteis:hover > .PastelQuarta:not(:hover),.Pasteis:hover > .PastelQuinta:not(:hover),.Pasteis:hover > .PastelFind:not(:hover){
    opacity: 0.9;
}

.Pasteis h2{
    color: #d4c38e;
    padding-bottom: 1.5%;
    border-radius: 5px;
}

.Pasteis ul{
    margin-top: 0.7%;
    list-style-type: none;
    padding-left: 6%;
    font-size: 14px;
}

.Pasteis h2{
    display: flex;
    justify-content: center;
}

.Pasteis .Salgados{
    margin-top: 2%;
    color: #d4c38e;
}

.miniBorda{
    border: 1px solid #d4c38e;
    inset: 5%; 
    pointer-events: none; 
    border-radius: 5px; 
    position: absolute;
}

.Pasteis .Salgados .tituloSalgadosCards, .Pasteis .Doces .tituloDocesCards{
    font-weight: 600;
    color: #d4c38e;
}

.Pasteis .Doces{
    margin-top: 2%;
    color: #d4c38e;
}



/* LINHA MAIOR */
.linhaMaior{
    display: flex;
    width: 100%;
    justify-content: center;
}

.linhaMaior .linha{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    height: 2px;
    background-color: #2E1A0F;
    width: 70vw;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
}


/* PARTE DA MAIS SERVIÇOS */
.MaisServicos #titulo{
    padding-top: 3%;
    padding-left: 0%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #2E1A0F;
    font-weight: 800;
}

.Servicos{
    margin-top: 3%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.Servicos .Cardapio, .Sobre, .Contato, .Noticias {
    width: 300px;
    padding: 1%;
    margin-bottom: 15px;
    background-color: #22140c;
    border-radius: 5px;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
}

.Servicos img{
    width: 100%;
    padding: 0;
}

.Servicos h2{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.Servicos .vermais a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #22140c;
    font-weight: 600;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #d4c38e;
    border: 1px solid #d4c38e;
    margin-top: 4%;
    border-radius: 5px;
    transition: all 1s ease;
}

.Servicos .vermais a:hover{
    background-color: #22140c;
    color: #d4c38e;
    border: 1px solid #d4c38e;
}


/* PARTE DO FOOTER */

footer{
    margin-top: 100px;
}

.ConteudoFooter{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    display: flex;
    justify-content: space-between;
    background-color: #22140c;
    color: white;
}

.Conteudo{
    width: 1300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.Conteudo .Navegar, .RedesSociais, .Localizacao, .Direitos{
    padding-left: 2%;
    padding-right: 2%;
    color: white;
}

.ConteudoFooter .textFooter{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d4c38e;
}

.ConteudoFooter .textFooter h1{
    font-family: "Battambang", system-ui;
    font-weight: 600;
    font-style: normal;
}

.Conteudo ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    transition: all 0.5s ease;
}

.Conteudo ul li a:hover{
    font-size: 15px;
    color: #d4c38e;
    font-weight: 300;
}

.Conteudo ul{
    list-style-type: none;
}

.Conteudo h3{
    color: #d4c38e;
    font-size: 16px;
    padding-bottom: 1%;
}

.Localizacao p, .Direitos p{
    font-size: 15px;
    padding-bottom: 2%;
}


/* 

    USAR O SPAN PARA ADICIONAR VALORES NA PARTE DE OFERTAS SEMANAIS

*/


/* CARDÁPIO  */

.apresentacaoCardapio{
    padding-top: 1%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #22140c;
    color: #f3e7bf;
}

.apresentacaoCardapio h1{
    font-size: 60px;
}
.apresentacaoCardapio p{
    font-size: 15px;
    display: flex;
    text-align: center;
}

.botoesOpcoes {
    background-color: #22140c;
    padding-bottom: 2%;
}

.botoesOpcoes #titulo{
    padding-top: 3%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #d4c38e;
    font-weight: 800;
}

.opcoes{
    margin-top: 3%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-left: 10px;
}

.opcoes .Salgados, .opcoes .Doces, .opcoes .Bebidas{
    border: 1px solid #f3e7bf;
    padding: 1%;
    border-radius: 10px;
    background-color: #f3e7bf;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.botao{
    display: flex;
    justify-content: center;
}

.opcoes .botao a{
    color: #f3e7bf;
    text-decoration: none;
    background-color: #22140c;
    border: 1px solid #22140c ;
    width: 100%;
    font-size: 18px;
    display: flex;
    font-weight: 600;
    justify-content: center;
    padding: 1%;
    margin-top: 7%;
    border-radius: 5px;
    transition: all 1s ease;
}

.botao a:hover{
    color: #22140c;
    background-color: #f3e7bf;
    border: 1px solid #22140c ;
}

.botoesOpcoes .imagemopcao{
    width: 450px;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}

.botoesOpcoes .imagemopcao img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.botoesOpcoes .imagemopcao img:hover{
    transform: scale(1.1);
}


.SaboresCardapio{
    margin-top: 3%;
}

.tituloPreco{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5%;
}


.tituloPreco .precoSabor{
    font-weight: 600;
    font-size: 17px;
    text-decoration: underline;
}

/* SALGADOS */
.SaboresSalgados h2{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #24150d;
}

.SaboresSalgados .salg{
    display: flex; 
    flex-flow: row wrap;
    gap: 1%;
    row-gap: 1%;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.SaboresSalgados .salg .pastel{
    background-color: #22140c;
    color: #f3e7bf;
    padding: 1%;
    margin-bottom: 3%;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-flow: column wrap;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.SaboresSalgados .salg .pastel:hover{
    transform: scale(1.03);
}

.salg:hover > .pastel:not(:hover){
    opacity: 0.8;
}


/* DOCES */
.SaboresDoces h2{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #f3e7bf;
    margin-top: 3%;
}

.SaboresDoces{
    background-color: #24150d;
    padding-top: 0.2%;
    padding-bottom: 0.5%;
    margin-top: 5%;
}

.SaboresDoces .doc{
    display: flex; 
    flex-flow: row wrap;
    gap: 1%;
    row-gap: 1%;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.SaboresDoces .doc .pastel{
    background-color: #f3e7bf;
    color: #24150d;
    padding: 1%;
    margin-bottom: 3%;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-flow: column wrap;
    box-shadow:  10px 10px 16px rgba(204, 188, 155, 0.199);
    transition: all 0.5s ease;
}

.SaboresDoces .doc .pastel:hover{
    transform: scale(1.03);
}

.doc:hover > .pastel:not(:hover){
    opacity: 0.8;
}

/* BEBIDAS */
.SaboresBebidas h2{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #24150d;
    margin-top: 2%;
}

.SaboresBebidas .bebi h2{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #24150d;
    margin-top: 1%;
}

.SaboresBebidas .bebidass{
    display: flex; 
    flex-flow: row wrap;
    gap: 1%;
    row-gap: 1%;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.SaboresBebidas .bebidass .bebida{
    background-color: #22140c;
    color: #f3e7bf;
    padding: 1%;
    margin-bottom: 2%;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-flow: column wrap;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.SaboresBebidas .bebidass .bebida:hover{
    transform: scale(1.03);
}

.bebidass:hover > .bebida:not(:hover){
    opacity: 0.8;
}

/* LINHA MENOR */
.linhaMenor{
    display: flex;
    width: 100%;
    justify-content: center;
}
.linhaMenor .linha{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    height: 2px;
    background-color: #2E1A0F;
    width: 25vw;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
}

/* LINHA MENOR CLARA */
.linhaMenorClara{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #22140c;
}
.linhaMenorClara .linha{
    display: flex;
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 1%;
    height: 1px;
    background-color: #d4c38e;
    width: 65vw;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
}



/* FORMULÁRIO DE RESERVA */
.SideBarReserva{
    background-color:  #f3e7bf;
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #22140c;
    border-right: 2px solid #22140c;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
    color: #22140c;
}

.videoYTB{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    margin-bottom: 5%;
    flex-direction: column;
}

.videoYTB h3{
    margin-bottom: 3%;
    font-size: 22px;
}

.horarioFuncionamento h3{
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.horarioFuncionamento p{
    margin-top: 2%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-align: center;
}

.horarioFuncionamento .descricaoFunc{
    margin-left: 6%;
    margin-right: 6%;
}

.horarioFuncionamento{
    margin-bottom: 5%;
}

/* LINHA MENOR FORMULÁRIO */
.linhaMenorForms{
    display: flex;
    justify-content: center;
    width: 100%;
}
.linhaMenorForms .linha{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    height: 2px;
    margin-bottom: 5%;
    background-color: #2E1A0F;
    width: 70%;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
}

.tituloSidebar h1{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    color: #f3e7bf;
    padding-bottom: 5%;
}

.tituloSidebar{
    background-color: #22140c;
}

.formularioReserva h2{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.inputsForms{
    display: flex;
    justify-content: center;
}

.inputsForms input{
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1.5px solid #2E1A0F;
    border-radius: 3px;
    width: 220px;
    height: 20px;
    margin-bottom: 3%;
    background-color: #f3e7bf;
}

.inputsForms .nomeTelefone{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    gap: 10px;
}

.inputsForms .qntdPessoasEmail{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    gap: 10px;
}

.inputsForms .dataHora{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.inputsForms .dataHora .dataReserva{
    display: flex;
    flex-direction: column;
}

textarea .observacoes{
    border: 1px solid #2E1A0F;
    border-radius: 3px;
    background-color: #f3e7bf;
}

.observs{
    border: 1px solid #2E1A0F;
    border-radius: 3px;
    background-color: #f3e7bf;
    padding-top: 5px;
    padding-left: 5px;
}

#enviar{
    width: 100%;
    height: 40px;
    background-color: #d41010;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 3px;
    margin-top: 2%;
    margin-bottom: 7%;
    transition: all 0.5s ease;
    cursor: pointer;
    border: none;
}

#enviar:hover{
    background-color: #6c0303;
    color: #ffffff;
}

.avisosImportantes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
    margin-top: 2%;
}

.avisosImportantes h4{
    font-size: 20px;
    margin-bottom: 1%;
}

.logoFormsAura {
    font-family: "Battambang", system-ui;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.SideBarReserva {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    width: 600px;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    z-index: 999;
  }
  
  .SideBarReserva.ativa {
    transform: translateX(0%);
  }

.SideBarReserva::-webkit-scrollbar {
    width: 8px; /* largura da barra */
}

.SideBarReserva::-webkit-scrollbar-track {
    background: #22140c; /* fundo da barra */
}

.SideBarReserva::-webkit-scrollbar-thumb {
    background: #554135; /* cor da barrinha que arrasta */
}

.SideBarReserva::-webkit-scrollbar-thumb:hover {
    background: #554135; /* cor quando passa o mouse */
}

/* PÁGINA DE CONTATO */
.apresentacaoContato{
    padding-top: 1%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #22140c;
    color: #f3e7bf;
}

.apresentacaoContato h1{
    font-size: 60px;
}
.apresentacaoContato p{
    font-size: 15px;
    display: flex;
    text-align: center;
    color: #f3e7bf;
}

.lados{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3%;
    flex-wrap: wrap;
}

/* LADO ESQUERDO */
.ladoEsquerdo{
    display: flex;
    flex-direction: column;
}

.formularioContato{
    background-color: #22140c;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    width: 570px;
    border-radius: 5px;
    margin-bottom: 5%;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
}

.formularioContato h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    color: #f3e7bf;

}

.formularioContato input{
    width: 250px;
    padding: 15px;
    gap: 20px;
    margin-bottom: 2%;
    border: 1px solid #22140c;
    border-radius: 5px;
    background-color: #f3e7bf;
}

.formularioContato #mensagem{
    padding-left: 2%;
    padding-top: 2%;
    border: 1px solid #22140c;
    border-radius: 5px;
    background-color: #f3e7bf;
    width: 555px;
    margin-top: 2%;
    height: 150px;
}

.formularioContato p{
    color: #f3e7bf;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 4%;
    font-size: 15px;
    padding-left: 2%;
    padding-right: 2%;
}

#enviarForms{
    width: 100%;
    height: 50px;
    background-color: #d41010;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 3px;
    margin-top: 2%;
    margin-bottom: 1%;
    transition: all 0.5s ease;
    cursor: pointer;
}


#enviarForms:hover{
    background-color: rgb(121, 7, 7);
    color: white;
}


/* LADO DIREITO */
.ladoDireito{
    display: flex;
    flex-direction: column;
}

.localizacao h1{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.localizacao p{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.localizacao .mapa{
    display: flex;
    justify-content: center;
    margin-bottom:5%;
    border-radius: 15px;
    box-shadow:  10px 10px 16px rgba(0, 0, 0, 0.3);
}


/* PARTE BAIXO */
.parteBaixo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4%;
    flex-wrap: wrap ;
}

.telefones{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.telefones h1{
    margin-bottom: 2%;
}

.telefones p{
    margin-bottom: 1%;
}


.emailContato{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.emailContato h1{
    margin-bottom: 2%;
}

.emailContato p{
    margin-bottom: 2%;
}

.redesSociais h1{
    margin-bottom: 2%;
}

.redesSociais{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.redesSociais p{
    margin-bottom: 1%;
}

.redesSociais span{
    font-weight: 700;
}


.sobre{
    display: flex;
    flex-direction: column;
}

.sobre h2{
    display: flex;
    justify-content: center;
}

.sobre .sobreNos, .sobre .nossaHistoria, .sobre .nossaMissao, .sobre .nossaVisao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre p{
    width: 70%;
    text-align: center;
}

/* PÁGINA DE CONTATO */
.apresentacaoSobre{
    padding-top: 1%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #22140c;
    color: #f3e7bf;
}

.apresentacaoSobre h1{
    font-size: 60px;
}
.apresentacaoSobre p{
    font-size: 15px;
    display: flex;
    text-align: center;
}

.historiaAura{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 6%;
    padding-bottom: 4%;
}

.historiaAura .imagemLojaSobre{
    width: 35vw;
    display: flex;
    overflow: hidden;
    margin-left: 3%;
    box-shadow: 10px 10px 15px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid #2E1A0F;
}

.imagemLojaSobre .imagemSobre{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.imagemLojaSobre .imagemSobre:hover{
    transform: scale(1.1);
}

.historiaAura .textoHistoria{
    width: 50%;
    text-align: justify;
    margin-left: 3%;
}

.textoHistoria h1{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    font-size: 40px;
}

.textoHistoria p{
    line-height: 1.7;
}

/*  */

.filosofiaAura{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #22140c;
    color: #f3e7bf;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 6%;
}

.filosofiaAura .imagemFilosofiaSobre{
    width: 35vw;
    display: flex;
    overflow: hidden;
    box-shadow: 10px 10px 15px rgba(179, 179, 179, 0.139);
    border-radius: 5px;
    border: 1px solid #f3e7bf;
    margin-right: 6%;
}

.imagemFilosofiaSobre .imagemFilosofia{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.imagemFilosofiaSobre .imagemFilosofia:hover{
    transform: scale(1.1);
}

.filosofiaAura .textoFilosofia{
    width: 46%;
    text-align: justify;
    margin-right: 4%;
    margin-left: 6%;
}

.textoFilosofia h1{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5%;
    font-size: 40px;
}

.textoFilosofia p{
    line-height: 1.6;
}

/*  */
.numerosAura{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 3%;
    text-align: center;
}

.numerosAura .numeroClientes, .pasteisTotal, .totalDelivery, .familiasAtendidas{
    transition: all 0.8s ease;
}

.numerosAura div:hover{
    transform: scale(1.2);
}

.numerosAura:hover > div:not(:hover){
    opacity: 0.5;
}

.numerosAura h1{
    font-size: 55px;
}

.tituloConquistas{
    display: flex;
    justify-content: center;
    font-size: 45px;
}

.Conquistas{
    margin-top: 4%;
    background-color: #f3e7bf;
    color: #22140c;
    padding-bottom: 4%;
}

.avaliacaoClientes h1{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    color: #22140c;
    font-size: 45px;
    margin-top: 3%;
}

.estrela {
    color: gold;
    font-size: 22px;
}

.containerComentarios{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
}

.containerComentarios .comentario{
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #22140c;
    color: #f3e7bf;
    border-radius: 5px;
    padding: 1.5%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.119);
    margin-bottom: 2%;
    transition: all 0.5s ease;
}

.containerComentarios .comentario:hover{
    transform: scale(1.05);
}

.containerComentarios:hover > .comentario:not(:hover){
    opacity: 0.8;
}

/* PÁGINA DE NOTÍCIAS */
.apresentacaoNoticias{
    padding-top: 1%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #22140c;
    color: #f3e7bf;
}

.apresentacaoNoticias h1{
    font-size: 60px;
}
.apresentacaoNoticias p{
    font-size: 15px;
    display: flex;
    text-align: center;
    color: #f3e7bf;
}

.containerNoticiaPrincipal{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerNoticiaPrincipal .noticiaPrincipal1{
    background-image: url(./Imagens/pastelFrangoCheddar.png);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerNoticiaPrincipal .noticiaPrincipal2{
    background-image: url(./Imagens/parteInternaPastelaria.png);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.containerNoticiaPrincipal .noticiaPrincipal3{
    background-image: url(./Imagens/imagemLojaFisicaAura.png);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.containerNoticiaPrincipal .noticiaPrincipal5{
    background-image: url(./Imagens/parteInternaPastelaria.png);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.containerNoticiaPrincipal .noticiaPrincipal5{
    background-image: url(./Imagens/parteInternaPastelaria.png);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textoNP{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    filter: blur(2px);
    padding: 5%;
}


.textoNP:hover{
    filter: blur(0px);
    transform: scale(1.2);
    padding: 11.3%;
    backdrop-filter: blur(3px);
}

.textoNP h1{
    font-size: 60px;
} 

.textoNP p{
    font-size: 20px;
} 

